@media only screen and (max-width: 768px) {
  .founders {
    margin: 0;
    flex-direction: column;
    width: 100vw;
  }
  .founders_img {
    /* margin-bottom: 1rem; */
    height: 50vh !important;
    width: 100vw !important;
  }

  .founders_form {
    width: 100vw !important;
  }
}

.founders_img {
  width: 800px;
  height: 800px;
  background-size: 100%;
  background-repeat: no-repeat !important;
}
